#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 > #backgroundBox {
  position: absolute;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 > #alignmentBox {
  position: relative;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_14 {
  position: absolute;
  width: 1280.0px;
  min-height: 200.96913643988057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_14 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_14 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_14 {
  position: absolute;
  width: 156.25000000000006px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_14 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_14 span {
  color: #DDDDDD;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_11 {
  position: absolute;
  width: 314.9999999999999px;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_11 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_11 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_12 {
  position: absolute;
  width: 138.7500000000001px;
  min-height: 132.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_12 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_12 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Image_14 {
  position: absolute;
  width: 30.00000000000003px;
  height: 19.686772549212606px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Image_14 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Image_15 {
  position: absolute;
  width: 30.000000000000213px;
  height: 19.686772549212606px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Image_15 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Image_16 {
  position: absolute;
  width: 30.000000000000156px;
  height: 19.686772549212606px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Image_16 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_15 {
  position: absolute;
  width: 156.2500000000001px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_15 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_15 span {
  color: #DDDDDD;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_15 span#rtr-s-Text_15_1 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_16 {
  position: absolute;
  width: 156.2499999999992px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_16 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_16 span {
  color: #DDDDDD;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_13 {
  position: absolute;
  width: 138.7499999999992px;
  min-height: 116.48007091617512px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_13 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_13 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Line_3 {
  position: absolute;
  width: 2.0px;
  height: 128.14373779296875px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Line_4 {
  position: absolute;
  width: 2.0px;
  height: 128.14373779296875px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_15 {
  position: absolute;
  width: 150.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_15 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_15 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_15 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_15 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #B2B2B2;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #B2B2B2;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #B2B2B2;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_15 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_15 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_16 {
  position: absolute;
  width: 1280.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_16 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_16 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_16 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_20 {
  position: absolute;
  width: 125.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_20 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_20 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_20 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_21 {
  position: absolute;
  width: 125.00000000000011px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_21 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_21 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_21 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Image_18 {
  position: absolute;
  width: 18.999999999999773px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Image_18 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_4 {
  position: absolute;
  width: 96.99999999999989px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_4 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_3 {
  position: absolute;
  width: 485.0px;
  min-height: 90.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_3 {
  box-shadow: none;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-6318b7aa-50c8-4c59-a5ee-633f4a60fe12 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
